.timeline{
    &-grid{
        grid-template-columns: 1fr 5px 1fr;
        gap: 70px;
        justify-content: center;
        padding: 100px 0;

        
    }

    #timeline-1{
        align-items: flex-end;
    }

    #timeline-2{
        background-color: var(--secondary-color);
        border-radius: 18px;
    }

    #timeline-3{
        align-items: flex-start;
    }

    &-cards{
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        
        li{
            list-style: none;

            .timeline-card{
                background-color: var(--card-bg);
                border: 1px var(--secondary-color) solid;
                border-radius: 16px;
                // box-shadow: 0 3px 10px var(--box-shadow-light);
                box-shadow: var(--card-box-shadow);
                padding: 18px 14px 30px;
    
                .year-tag{
                    font-size: 14px;
                    font-weight: 700;
                    color: var(--primary-color);
                    border: 3px var(--primary-color) dashed;
                    border-radius: 16px;
                    padding: 2px 6px;
                    text-align: center;
                    vertical-align: middle;
                }
            
                h2{
                    color: var(--primary-color);
                    padding-top: 18px;
                }
    
                p{
                    padding-top: 15px;
                }
            }
        }
    }

}