{% extends 'pages/base.html' %}
{% load static %}
{% block title %} Portfolio {% endblock title %}
{% block bodyMain %}
    {% include 'pages/partials/nav.html' %}

    <section id='portfolio' class="portfolio">


        <div class="section-header">
            <h1 id='portfolio-title' class='section-title z-2'><span class=''>MY</span> PORTFOLIO<span class='portfolio-bg-text z-1'>PORTFOLIO</span></h1>
            <p id='portfolio-description' class='section-description'>
                Here are some of my recent projects that I've done using my programming tech stack.<br/>
                <span class='desktop-instruct-text portfolio-impo-text'>Hover your mouse on the images to see more details...</span>
            </p>
        </div>
    
        <ul class="grid portfolio-grid">
           
            {% for list in projects %}
            <li id="portfolio-{{forloop.counter}}">
                <div class="portfolio-item">
                    <div class="portfolio-img"><img src="{{list.image.url }}" alt="project image"/></div>
                    
                    <div class="portfolio-hover-item">
                        <h2>{{list.title}}</h2>
                        <p>{{list.about|truncatewords:15}}</p>
                        <a href="{% url 'pages:portfolio_details' list.slug %}" target='_blank'><span class='impo-text'>View</span> Project</a>
                    </div>
                    
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% include 'pages/partials/cv.html' %}
    {% include 'pages/partials/footer.html' %}
{% endblock bodyMain %}  