.about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 100svh;
    background-color: var(--body-bg);

    &-img{
        width: 300px;
        padding:0 20px 0 0;
    }


    &-content{
        position: relative;
        padding: 0 90px;
        width: 800px;

        p{
            position: relative;
            font-size: 18px;
            line-height: 30px;
            padding: 60px 30px 80px;
            box-shadow: -0.5px -1px 15px var(--box-shadow-light);
            border-radius: 16px;
            background-color: var(--bg-p-text);
            z-index: 0;
            transform: rotate(-3deg);

        }

    }

    &-content::before{
        content: '';
        position: absolute;
        top: 0;
        left: 80px;
        width: 640px;
        height: 410px;
        box-shadow: -0.5px -1px 15px var(--box-shadow-light);
        border-radius: 16px;
        background: linear-gradient(to top,var(--secondary-color), 20%,var(--primary-color-2));
        z-index: 0;
        transform: rotate(3deg);
        
    }
}