.header{
    position: relative;
    min-height: 100svh;
    

    .hero{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        // column-gap: 50px;
        padding-top: 130px;

        &-content{
            display: flex;
            flex-direction: column;
            padding-left: 100px;
            align-self: flex-end; 

            h1{
                font-size: 36px;
                font-weight: 900;
                line-height: 40px;
                color: var(--primary-color);

                span{
                    color: var(--secondary-color);
                }
            }


            > p{
                font-size: 18px;
                padding: 27px 30px 0 0;
                color: var(--text-primary);
            }

            .header-social-links{
                @extend %social-links;
                padding: 27px 0 0;
            }

            
        }
    
    
        &__img{
            margin-left: 120px;
            .hero__blob{
                width: 300px;
                fill: var(--blob-bg);
             
            }
             
            .hero__blob-img{
                width: 196px;
            }
        }
    }

    .ball{
        position: relative;
        height: 208px;
        

        a{
            text-decoration: none;

            .ball-text{
                font-size: 18px;
                color: var(--text-primary);
                display: flex;
                flex-direction: row;
                padding-top: 105px;
                padding-left: 100px;
    
                p{
                    margin-right: 10px;
                }
    
                .mouse-bounce{
                    position: relative;
                    top: 7px;
                    left: 0;
                    animation: jump 1.5s forwards ease-in-out infinite;
                    
                }
    
                @keyframes jump {
                    from{
                        top: 7px;
                        left: 0;
                    }
    
                    
                    50%{
                        top: -7px;
                        left: 0;
                    }
                    
                    
    
                    to{
                        top: 7px;
                        left: 0;
                    }
    
                }
            }
        }
        
        &::before{
            content: '';
            position: absolute;
            left: -70px;
            bottom: -70px;
            background: url('../img/ball-background.png') center center/cover no-repeat, url('https://portfoliostatic1.blob.core.windows.net/static/img/ball-background.png') center center/cover no-repeat, url();
            opacity: 0.9;
            width: 208px;
            height: 100%;
            z-index: -1;
    
        }
    }

}

