html[data-theme='dark']{
    --primary-color: #00ff00;
    --primary-color-2: #00cd47;
    --primary-color-3: #9aff9a;
    --primary-color-4: #afffaf;
    --secondary-color: #0022ff;
    --secondary-color-2: #9aa8ff;
    --secondary-color-3: #b0bbff;
    --body-bg: #000000;
    --bg-white: #ffffff;
    --bg-dark: #000000;
    --blob-bg: #707070;
    --bg-slate-1: #f8f8f8;
    --bg-slate-2: #707070;

    //text-color
    --bg-text: #212121;
    --bg-p-text: #212121;
    --text-white: #ffffff;
    --text-primary-light: #b2becd;
    --text-primary: #707070;
    --text-dark: #000000;

    //portfolio
    --portfolio-bg: #141414;
    --portfolio-bg-text: #353535;
    --portfolio-title-color: #00ff00;
    --portfolio-desc-text: #707070;
    --portfolio-item-bg: #000000;
    --portfolio-item-title: var(--primary-color);
    --portfolio-item-text: #707070;

    //cards
    --card-bg: #212121;
    --card-header: #00ff00;
    --card-box-shadow: 1px 2px 15px rgba(0,0,0,.1);

    //icons
    --social-bg: #000000;
    --social-bg-hover: var(--primary-color);

    //input
    --input-bg: #212121;
    --input-color: #ffffff;
    
    //contact-btn
    --contact-bg: #212121;

    //box shadow
    --box-shadow-light: #707070;
    --box-shadow-1: #0000001a;
    --box-shadow-2: #0000004d;
    --box-shadow-3: #000000cc;
}

html[data-theme='light']{
    --primary-color: #00ff00;
    --primary-color-2: #00cd47;
    --primary-color-3: #9aff9a;
    --primary-color-4: #afffaf;
    --secondary-color: #0022ff;
    --secondary-color-2: #9aa8ff;
    --secondary-color-3: #b0bbff;
    --body-bg: #ffffff;
    --bg-white: #ffffff;
    --bg-dark: #000000;
    --blob-bg: #0022ff;
    --bg-slate-1: #f8f8f8;
    --bg-slate-2: #707070;
    
    //portfolio
    --portfolio-bg: #b0bbff;
    --portfolio-bg-text: #9aa8ff;
    --portfolio-title-color: var(--secondary-color);
    --portfolio-desc-text: #000000;
    --portfolio-item-bg: #ffffff;
    --portfolio-item-title: var(--secondary-color);
    --portfolio-item-text: #707070;
    
    

    //text-color
    --bg-text: #f8f8f8;
    --bg-p-text: #ffffff;
    --text-white: #ffffff;
    --text-dark: #000000;
    --text-primary: #707070;
    --text-primary-light: #b2becd;

    //cards
    --card-bg: #ffffff;
    --card-header: #0022ff;
    --card-box-shadow: 1px 2px 15px rgba(0,0,0,.1);
    
    //icons
    --social-bg:#ffffff;
    --social-bg-hover: var(--secondary-color);

    //input
    --input-bg: #f8f8f8;
    --input-color: #707070;

    //contact-btn
    --contact-bg: #ffffff;
    --btn-box-shadow: 1px 2px 15px rgba(0,0,0,.1);


    //box shadow
    --box-shadow-light: #707070;
    --box-shadow-1: #0000001a;
    --box-shadow-2: #0000004d;
    --box-shadow-3: #000000cc;
    
}