:root{
    --font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --menu-speed: 0.4s;
    --overlay-color: #000000bc;
}

//z-index
$levels: (1, 2, 3, 4, 5);

@each $level in $levels{
    .z-#{$level}{
        z-index: #{$level};
    }
    .-z-#{$level}{
        z-index: -#{$level};
    }
   
}
