:root {
  --font-stack: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --menu-speed: 0.4s;
  --overlay-color: #000000bc;
}

.z-1 {
  z-index: 1;
}

.-z-1 {
  z-index: -1;
}

.z-2 {
  z-index: 2;
}

.-z-2 {
  z-index: -2;
}

.z-3 {
  z-index: 3;
}

.-z-3 {
  z-index: -3;
}

.z-4 {
  z-index: 4;
}

.-z-4 {
  z-index: -4;
}

.z-5 {
  z-index: 5;
}

.-z-5 {
  z-index: -5;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  position: relative;
  font-size: inherit;
  font-family: var(--font-stack);
}

body {
  position: relative;
  background-color: var(--body-bg);
  margin: auto;
}

a {
  text-decoration: none;
}

img, picture, video, embed {
  max-width: 100%;
}

html[data-theme=dark] {
  --primary-color: #00ff00;
  --primary-color-2: #00cd47;
  --primary-color-3: #9aff9a;
  --primary-color-4: #afffaf;
  --secondary-color: #0022ff;
  --secondary-color-2: #9aa8ff;
  --secondary-color-3: #b0bbff;
  --body-bg: #000000;
  --bg-white: #ffffff;
  --bg-dark: #000000;
  --blob-bg: #707070;
  --bg-slate-1: #f8f8f8;
  --bg-slate-2: #707070;
  --bg-text: #212121;
  --bg-p-text: #212121;
  --text-white: #ffffff;
  --text-primary-light: #b2becd;
  --text-primary: #707070;
  --text-dark: #000000;
  --portfolio-bg: #141414;
  --portfolio-bg-text: #353535;
  --portfolio-title-color: #00ff00;
  --portfolio-desc-text: #707070;
  --portfolio-item-bg: #000000;
  --portfolio-item-title: var(--primary-color);
  --portfolio-item-text: #707070;
  --card-bg: #212121;
  --card-header: #00ff00;
  --card-box-shadow: 1px 2px 15px rgba(0,0,0,.1);
  --social-bg: #000000;
  --social-bg-hover: var(--primary-color);
  --input-bg: #212121;
  --input-color: #ffffff;
  --contact-bg: #212121;
  --box-shadow-light: #707070;
  --box-shadow-1: #0000001a;
  --box-shadow-2: #0000004d;
  --box-shadow-3: #000000cc;
}

html[data-theme=light] {
  --primary-color: #00ff00;
  --primary-color-2: #00cd47;
  --primary-color-3: #9aff9a;
  --primary-color-4: #afffaf;
  --secondary-color: #0022ff;
  --secondary-color-2: #9aa8ff;
  --secondary-color-3: #b0bbff;
  --body-bg: #ffffff;
  --bg-white: #ffffff;
  --bg-dark: #000000;
  --blob-bg: #0022ff;
  --bg-slate-1: #f8f8f8;
  --bg-slate-2: #707070;
  --portfolio-bg: #b0bbff;
  --portfolio-bg-text: #9aa8ff;
  --portfolio-title-color: var(--secondary-color);
  --portfolio-desc-text: #000000;
  --portfolio-item-bg: #ffffff;
  --portfolio-item-title: var(--secondary-color);
  --portfolio-item-text: #707070;
  --bg-text: #f8f8f8;
  --bg-p-text: #ffffff;
  --text-white: #ffffff;
  --text-dark: #000000;
  --text-primary: #707070;
  --text-primary-light: #b2becd;
  --card-bg: #ffffff;
  --card-header: #0022ff;
  --card-box-shadow: 1px 2px 15px rgba(0,0,0,.1);
  --social-bg:#ffffff;
  --social-bg-hover: var(--secondary-color);
  --input-bg: #f8f8f8;
  --input-color: #707070;
  --contact-bg: #ffffff;
  --btn-box-shadow: 1px 2px 15px rgba(0,0,0,.1);
  --box-shadow-light: #707070;
  --box-shadow-1: #0000001a;
  --box-shadow-2: #0000004d;
  --box-shadow-3: #000000cc;
}

p {
  color: var(--text-primary);
}

ul, li {
  list-style: none;
}

.about,
.skills,
.timeline,
.portfolio,
.work-with-me,
.blogs,
.contact-me,
.footer-content {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
}

.impo-text {
  color: var(--secondary-color);
}

.impo-text-alt {
  color: var(--primary-color);
}

.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-header .section-title {
  position: relative;
  font-size: 36px;
  text-transform: uppercase;
  color: var(--primary-color);
}
.section-header .section-title .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--bg-text);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 96px;
  background: none !important;
}
.section-header .section-title .skills-bg-text,
.section-header .section-title .contact-bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--primary-color-3);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 96px;
  background: none !important;
}
.section-header .section-title .portfolio-bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--portfolio-bg-text);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 96px;
  background: none !important;
}
.section-header .section-description {
  color: var(--text-primary);
  font-size: 18px;
  text-align: center;
  padding-top: 27px;
}

.grid {
  display: grid;
}
.grid .grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-main .footer-content .footer-social .footer-social-links, .header .hero-content .header-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-main .footer-content .footer-social .footer-social-links a, .header .hero-content .header-social-links a {
  text-decoration: none;
  color: inherit;
  margin-right: 20px;
}
footer .footer-main .footer-content .footer-social .footer-social-links a:last-child, .header .hero-content .header-social-links a:last-child {
  margin-right: 0;
}
footer .footer-main .footer-content .footer-social .footer-social-links a .social-link, .header .hero-content .header-social-links a .social-link {
  font-weight: 900;
  font-style: italic;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background-color: var(--social-bg);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
footer .footer-main .footer-content .footer-social .footer-social-links a .social-link svg, .header .hero-content .header-social-links a .social-link svg {
  width: 24px;
  height: 24px;
  fill: var(--bg-slate-2);
  -o-object-fit: contain;
  object-fit: contain;
  display: block;
  overflow: visible;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
footer .footer-main .footer-content .footer-social .footer-social-links a .social-link:hover svg, .header .hero-content .header-social-links a .social-link:hover svg {
  fill: var(--social-bg-hover);
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--bg-text);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-slate-2);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-primary-light);
}

.btn-links {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row-wrap;
          flex-direction: row-wrap;
  padding: 27px 0;
}
.btn-links .cv-btn, .btn-links .submit-btn, .btn-links .contact-btn, .btn-links .about-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 16px;
  padding: 15px 60px;
  border-radius: 16px;
  cursor: pointer;
}
.btn-links .cv-btn a, .btn-links .submit-btn a, .btn-links .contact-btn a, .btn-links .about-btn a {
  text-decoration: none;
}
.btn-links .cv-btn a p, .btn-links .submit-btn a p, .btn-links .contact-btn a p, .btn-links .about-btn a p {
  padding: 0;
}
.btn-links .about-btn {
  position: relative;
  overflow: hidden;
}
.btn-links .about-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: -webkit-gradient(linear, left top, right top, from(var(--secondary-color)), color-stop(20%), to(var(--primary-color)));
  background: linear-gradient(to right, var(--secondary-color), 20%, var(--primary-color));
  -webkit-transform: scaleX(100%);
          transform: scaleX(100%);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-links .about-btn .about-btn-text {
  color: var(--text-white);
}
.btn-links .about-btn:hover::before {
  width: 100%;
  height: 100%;
  background: var(--secondary-color);
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
.btn-links .cv-btn, .btn-links .submit-btn, .btn-links .contact-btn {
  border: 1px var(--primary-color) solid;
  -webkit-box-shadow: var(--btn-box-shadow);
          box-shadow: var(--btn-box-shadow);
}
.btn-links .contact-btn {
  position: relative;
  overflow: hidden;
}
.btn-links .contact-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--contact-bg);
  -webkit-transform: scaleX(100%);
          transform: scaleX(100%);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-links .contact-btn .contact-btn-text {
  color: var(--primary-color);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-links .contact-btn:hover .contact-btn-text {
  color: var(--text-white);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-links .contact-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
.btn-links .submit-btn {
  position: relative;
  overflow: hidden;
  width: 160px;
}
.btn-links .submit-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--contact-bg);
  -webkit-transform: scaleX(100%);
          transform: scaleX(100%);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-links .submit-btn .submit-btn-text {
  color: var(--primary-color);
  background-color: transparent;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  outline: none;
  border: none;
  border-style: none;
  cursor: pointer;
}
.btn-links .submit-btn:hover .submit-btn-text {
  color: var(--text-white);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: transparent;
  outline: none;
  border: none;
  border-style: none;
}
.btn-links .submit-btn:hover::before {
  background-color: var(--primary-color);
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
.btn-links .cv-btn {
  position: fixed;
  right: 55px;
  bottom: 40px;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.btn-links .cv-btn .cv-btn-text {
  color: var(--primary-color);
  -webkit-animation: Xtextflow 2s ease-in-out infinite;
          animation: Xtextflow 2s ease-in-out infinite;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
@-webkit-keyframes Xtextflow {
  to {
    color: var(--text-white);
  }
}
@keyframes Xtextflow {
  to {
    color: var(--text-white);
  }
}
.btn-links .cv-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  z-index: -1;
  -webkit-animation: Xflow 2s ease-in-out infinite;
          animation: Xflow 2s ease-in-out infinite;
}
@-webkit-keyframes Xflow {
  from {
    -webkit-transform: scaleX(100%);
            transform: scaleX(100%);
    opacity: 1;
  }
  to {
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(var(--secondary-color)), color-stop(60%), to(var(--primary-color)));
    background: linear-gradient(to right, var(--secondary-color), 60%, var(--primary-color));
    opacity: 0.65;
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
  }
}
@keyframes Xflow {
  from {
    -webkit-transform: scaleX(100%);
            transform: scaleX(100%);
    opacity: 1;
  }
  to {
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(var(--secondary-color)), color-stop(60%), to(var(--primary-color)));
    background: linear-gradient(to right, var(--secondary-color), 60%, var(--primary-color));
    opacity: 0.65;
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
  }
}
.btn-links .cv-btn:hover .cv-btn-text {
  color: var(--text-primary);
}
.btn-links .cv-btn:hover::before {
  background-color: var(--secondary-color);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 0;
}
.nav a {
  text-decoration: none;
  color: var(--bg-white);
}
.nav-brand {
  padding: 0.5rem 0.5rem 0.5rem 40px;
}
.nav-brand a img {
  width: 12rem;
}
.nav .theme-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 200px;
}
.nav .theme-toggle span {
  color: var(--text-primary);
}
.nav .theme-toggle .light {
  padding: 0 4px 0 0;
}
.nav .theme-toggle .dark {
  padding: 0 0 0 4px;
}
.nav .theme-toggle .toggle {
  background-color: var(--bg-slate-2);
  width: 50px;
  height: 25px;
  border-radius: 200px;
  cursor: pointer;
  position: relative;
}
.nav .theme-toggle .toggle::before {
  position: absolute;
  content: "";
  background-color: var(--bg-white);
  width: 20px;
  height: 20px;
  border-radius: 200px;
  margin: 2.5px 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.nav .theme-toggle .toggle::after {
  position: absolute;
  content: "";
  top: 0;
  left: -5px;
  background-color: transparent;
  width: 20px;
  height: 20px;
  border-radius: 200px;
  margin: 2.5px 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.nav .theme-toggle input {
  display: none;
}
.nav .theme-toggle input:checked + .toggle {
  background-color: var(--bg-slate-2);
}
.nav .theme-toggle input:checked + .toggle::before {
  background-color: var(--bg-text);
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}
.nav .theme-toggle input:checked + .toggle::after {
  top: -2px;
  background-color: var(--bg-slate-2);
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}
.nav-links {
  position: relative;
  width: 450px;
}
.nav-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1.2rem 40px 1.2rem 1rem;
  margin-right: 2rem;
  list-style-type: none;
}
.nav-links ul li {
  margin-right: 1.2rem;
}
.nav-links ul li a {
  font-size: 1rem;
  font-weight: 400;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.nav-links ul li .a--active,
.nav-links ul li a:hover {
  color: var(--primary-color);
}
.nav-links ul li :last-child {
  margin-right: 0;
}
.nav-links::before {
  content: "";
  position: absolute;
  top: -140px;
  left: 0;
  background: url("../img/nav2C.png") center center/cover no-repeat;
  width: 100%;
  height: 435px;
  z-index: -1;
}

.header {
  position: relative;
  height: 100vh;
}
.header .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 130px;
}
.header .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 100px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.header .hero-content h1 {
  font-size: 36px;
  font-weight: 900;
  line-height: 40px;
  color: var(--primary-color);
}
.header .hero-content h1 span {
  color: var(--secondary-color);
}
.header .hero-content > p {
  font-size: 18px;
  padding: 27px 30px 0 0;
  color: var(--text-primary);
}
.header .hero-content .header-social-links {
  padding: 27px 0 0;
}
.header .hero__img {
  margin-left: 120px;
}
.header .hero__img .hero__blob {
  width: 300px;
  fill: var(--blob-bg);
}
.header .hero__img .hero__blob-img {
  width: 196px;
}
.header .ball {
  position: relative;
  height: 208px;
}
.header .ball a {
  text-decoration: none;
}
.header .ball a .ball-text {
  font-size: 18px;
  color: var(--text-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 105px;
  padding-left: 100px;
}
.header .ball a .ball-text p {
  margin-right: 10px;
}
.header .ball a .ball-text .mouse-bounce {
  position: relative;
  top: 7px;
  left: 0;
  -webkit-animation: jump 1.5s forwards ease-in-out infinite;
          animation: jump 1.5s forwards ease-in-out infinite;
}
@-webkit-keyframes jump {
  from {
    top: 7px;
    left: 0;
  }
  50% {
    top: -7px;
    left: 0;
  }
  to {
    top: 7px;
    left: 0;
  }
}
@keyframes jump {
  from {
    top: 7px;
    left: 0;
  }
  50% {
    top: -7px;
    left: 0;
  }
  to {
    top: 7px;
    left: 0;
  }
}
.header .ball::before {
  content: "";
  position: absolute;
  left: -70px;
  bottom: -70px;
  background: url("../img/ball-background.png") center center/cover no-repeat;
  opacity: 0.9;
  width: 208px;
  height: 100%;
  z-index: -1;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: var(--body-bg);
}
.about-img {
  width: 300px;
}
.about-content {
  position: relative;
  padding: 0 90px;
  width: 800px;
}
.about-content p {
  position: relative;
  font-size: 18px;
  line-height: 30px;
  padding: 60px 30px 80px;
  -webkit-box-shadow: -0.5px -1px 15px var(--box-shadow-light);
          box-shadow: -0.5px -1px 15px var(--box-shadow-light);
  border-radius: 16px;
  background-color: var(--bg-p-text);
  z-index: 0;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}
.about-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 80px;
  width: 640px;
  height: 410px;
  -webkit-box-shadow: -0.5px -1px 15px var(--box-shadow-light);
          box-shadow: -0.5px -1px 15px var(--box-shadow-light);
  border-radius: 16px;
  background: -webkit-gradient(linear, left bottom, left top, from(var(--secondary-color)), color-stop(20%), to(var(--primary-color-2)));
  background: linear-gradient(to top, var(--secondary-color), 20%, var(--primary-color-2));
  z-index: 0;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
}

.skills {
  background-color: var(--primary-color-4);
}
.skills-grid {
  grid-template-columns: repeat(3, 250px);
  gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.skills-fields .skills-field-1 {
  padding: 100px 0;
}
.skills-fields .skills-field-2 {
  padding: 50px 0 100px;
}
.skills-fields .skills-field-1 .skills-field-title,
.skills-fields .skills-field-2 .skills-field-title {
  font-size: 82px;
  font-weight: 800;
  line-height: 72px;
  text-align: center;
  color: var(--primary-color-3);
  background: none !important;
  padding: 0 0 40px;
}
.skills-fields .skills-field-1 .skills-cards .skills-card,
.skills-fields .skills-field-2 .skills-cards .skills-card {
  height: 300px;
  -webkit-box-shadow: 0 0 10px var(--box-shadow-2);
          box-shadow: 0 0 10px var(--box-shadow-2);
  background-color: var(--bg-text);
  border-radius: 16px;
  padding: 20px 15px;
}
.skills-fields .skills-field-1 .skills-cards .skills-card h3,
.skills-fields .skills-field-2 .skills-cards .skills-card h3 {
  color: var(--card-header);
  font-weight: 700;
  text-align: center;
}
.skills-fields .skills-field-1 .skills-cards .skills-card p,
.skills-fields .skills-field-2 .skills-cards .skills-card p {
  text-align: center;
  padding-top: 16px;
}

.timeline-grid {
  grid-template-columns: 1fr 5px 1fr;
  gap: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0;
}
.timeline #timeline-1 {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.timeline #timeline-2 {
  background-color: var(--secondary-color);
  border-radius: 18px;
}
.timeline #timeline-3 {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.timeline-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 50px;
}
.timeline-cards li {
  list-style: none;
}
.timeline-cards li .timeline-card {
  background-color: var(--card-bg);
  border: 1px var(--secondary-color) solid;
  border-radius: 16px;
  -webkit-box-shadow: var(--card-box-shadow);
          box-shadow: var(--card-box-shadow);
  padding: 18px 14px 30px;
}
.timeline-cards li .timeline-card .year-tag {
  font-size: 14px;
  font-weight: 700;
  color: var(--primary-color);
  border: 3px var(--primary-color) dashed;
  border-radius: 16px;
  padding: 2px 6px;
  text-align: center;
  vertical-align: middle;
}
.timeline-cards li .timeline-card h2 {
  color: var(--primary-color);
  padding-top: 18px;
}
.timeline-cards li .timeline-card p {
  padding-top: 15px;
}

.portfolio {
  background-color: var(--portfolio-bg);
}
.portfolio #portfolio-title {
  color: var(--portfolio-title-color);
}
.portfolio #portfolio-description {
  color: var(--portfolio-title-color);
}
.portfolio .portfolio-impo-text {
  color: var(--portfolio-desc-text);
}
.portfolio .portfolio-grid {
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  row-gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0;
}
.portfolio .portfolio-grid li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio .portfolio-grid li .portfolio-item {
  position: relative;
  width: 100%;
  border-radius: 30px;
}
.portfolio .portfolio-grid li .portfolio-item .portfolio-img img {
  width: 100%;
  height: 440px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}
.portfolio .portfolio-grid li .portfolio-item .portfolio-hover-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, var(--primary-color), 60%, var(--secondary-color));
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.portfolio .portfolio-grid li .portfolio-item .portfolio-hover-item h2 {
  color: var(--text-white);
}
.portfolio .portfolio-grid li .portfolio-item .portfolio-hover-item p {
  color: var(--text-white);
  text-align: center;
  padding-top: 27px;
}
.portfolio .portfolio-grid li .portfolio-item .portfolio-hover-item a {
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  color: var(--primary-color);
  background-color: var(--bg-white);
  padding: 3px 8px;
  margin-top: 27px;
  border-radius: 15px;
}
.portfolio .portfolio-grid li .portfolio-item:hover .portfolio-hover-item {
  opacity: 0.95;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.work-with-me .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 515.87px;
}
.work-with-me .service-content {
  -ms-flex-item-align: start;
      align-self: start;
  padding: 37px 36px 15px;
  background-color: var(--secondary-color);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.work-with-me .service-content .service-header {
  font-size: 36px;
  font-weight: 900;
  line-height: 40px;
  color: var(--bg-white);
}
.work-with-me .service-content .service-header .new {
  color: var(--primary-color);
}
.work-with-me .service-content .service-text {
  padding-top: 27px;
  color: var(--bg-white);
}
.work-with-me .service-content .service-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.work-with-me .service-content .service-lists .service-list {
  color: var(--bg-white);
  padding-top: 17px;
}
.work-with-me .service-img {
  -ms-flex-item-align: start;
      align-self: start;
  width: 450px;
  height: 501px;
  border-left: 8px solid var(--primary-color);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.work-with-me .service-img img {
  width: inherit;
  height: 501px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.blogs-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 30px;
  padding: 100px 150px 0;
}
.blogs .blog {
  position: relative;
  background-color: var(--card-bg);
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 20px var(--box-shadow-1);
          box-shadow: 1px 1px 20px var(--box-shadow-1);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  height: 650px;
  width: 300px;
  cursor: pointer;
}
.blogs .blog:hover {
  -webkit-box-shadow: 1px 1px 20px var(--box-shadow-2);
          box-shadow: 1px 1px 20px var(--box-shadow-2);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.blogs .blog:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 4px 15px var(--box-shadow-3);
          box-shadow: 0px 4px 15px var(--box-shadow-3);
}
.blogs .blog:hover .blog-text h4 {
  color: var(--primary-color);
}
.blogs .blog:hover .blog-text a {
  display: block;
  text-align: center;
  font-weight: 700;
  color: var(--primary-color);
  background-color: transparent;
  padding: 3px 6px;
  margin-top: 27px;
  border: 1px var(--primary-color) solid;
  border-radius: 15px;
}
.blogs .blog img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.blogs .blog-text {
  margin-top: -7px;
  padding: 1.1rem;
  border-top: 8px solid var(--primary-color);
}
.blogs .blog-text h4 {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.blogs .blog-text h4:hover {
  color: var(--primary-color);
}
.blogs .blog-text .blog-description {
  color: var(--text-primary);
  line-height: 2rem;
  padding-bottom: 1rem;
}
.blogs .blog-text a {
  display: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.contact-me {
  background-color: var(--primary-color-4);
}
.contact-me .contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px;
}
.contact-me .contact-content .left-contact {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-right: 1.5rem;
}
.contact-me .contact-content .left-contact .contact-title h4 {
  font-size: 32px;
  color: var(--secondary-color);
  padding-bottom: 18px;
}
.contact-me .contact-content .left-contact .contact-title p {
  font-size: 18px;
  padding-bottom: 27px;
}
.contact-me .contact-content .left-contact .contact-info .contact-item {
  padding-bottom: 27px;
}
.contact-me .contact-content .left-contact .contact-info .contact-item :last-child {
  padding-bottom: 0;
}
.contact-me .contact-content .left-contact .contact-info .contact-item h4 {
  font-size: 18px;
  font-weight: 700;
  color: var(--primary-color);
}
.contact-me .contact-content .left-contact .contact-info .contact-item p {
  font-weight: 400;
  padding-top: 8px;
}
.contact-me .contact-content .right-contact {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin-left: 3rem;
}
.contact-me .contact-content .right-contact .input-control {
  margin-bottom: 1.5rem;
}
.contact-me .contact-content .right-contact .input-control input, .contact-me .contact-content .right-contact .input-control textarea {
  border-radius: 30px;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.8rem 1.1rem;
  outline: none;
  border: none;
  background-color: var(--input-bg);
  width: 100%;
  color: var(--input-color);
  resize: none;
}
.contact-me .contact-content .right-contact .input-control ::-webkit-input-placeholder {
  color: var(--text-primary);
}
.contact-me .contact-content .right-contact .input-control ::-moz-placeholder {
  color: var(--text-primary);
}
.contact-me .contact-content .right-contact .input-control :-ms-input-placeholder {
  color: var(--text-primary);
}
.contact-me .contact-content .right-contact .input-control ::-ms-input-placeholder {
  color: var(--text-primary);
}
.contact-me .contact-content .right-contact .input-control ::placeholder {
  color: var(--text-primary);
}
.contact-me .contact-content .right-contact .input-control ::after {
  border: var(--primary-color) 1px solid;
}
.contact-me .contact-content .right-contact .i-c-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact-me .contact-content .right-contact .i-c-2 :last-child {
  margin-left: 1.5rem;
}
.contact-me .contact-content .right-contact .btn-links {
  padding-top: 0;
}
.contact-me .contact-content .right-contact .btn-links .submit-btn button {
  text-align: center;
  padding: 6px 60px;
}

footer .footer-main .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer-main .footer-content .footer-logo a img {
  width: 12rem;
}
footer .footer-main .footer-content .footer-logo .footer-logo-motto {
  padding: 10px 0 0;
}
footer .footer-main .footer-content .quick-nav h4 {
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-color);
  padding: 0 0 5px;
}
footer .footer-main .footer-content .quick-nav > ul {
  list-style: none;
}
footer .footer-main .footer-content .quick-nav > ul li {
  padding-top: 5px;
}
footer .footer-main .footer-content .quick-nav > ul li a {
  color: var(--text-primary);
  text-decoration: none;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
footer .footer-main .footer-content .quick-nav > ul li a:hover {
  -webkit-text-decoration: underline var(--primary-color);
          text-decoration: underline var(--primary-color);
}
footer .footer-main .footer-content .quick-nav > ul li :first-child {
  padding-top: 0;
}
footer .footer-main .footer-content .footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footer-main .footer-content .footer-social .social-text {
  color: var(--primary-color);
}
footer .footer-main .footer-content .footer-social .footer-social-links {
  padding: 10px 0 0;
}
footer .footer-main .footer-copy {
  text-align: center;
  vertical-align: middle;
  padding: 10px 15px 30px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .about,
  .skills,
  .timeline,
  .portfolio,
  .work-with-me,
  .blogs,
  .contact-me,
  .footer-content {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .section-header .section-title {
    font-size: 28px;
  }
  .section-header .section-title .bg-text,
  .section-header .section-title .skills-bg-text,
  .section-header .section-title .contact-bg-text {
    font-size: 70px;
  }
  .section-header .section-title .portfolio-bg-text {
    font-size: 62px;
  }
  .section-header .section-description {
    font-size: 14px;
  }
  .header .hero-content .header-social-links, footer .footer-main .footer-content .footer-social .footer-social-links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  ::-webkit-scrollbar,
  ::-webkit-scrollbar-thumb {
    display: none !important;
  }
  .btn-links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .btn-links .about-btn, .btn-links .contact-btn, .btn-links .submit-btn, .btn-links .cv-btn {
    padding: 12px 30px;
  }
  .btn-links .cv-btn {
    display: none;
  }
  .nav {
    padding-top: 15px;
    /*hamburger line*/
    /*hamburger line before and after line*/
    /*moves line down*/
    /*hamburger animatiom*/
    /*turns line into X*/
    /*rotate hamburger when hovered*/
    /*show menu*/
  }
  .nav-brand {
    padding: 0.5rem 0.5rem 0.5rem 15px;
  }
  .nav-brand a img {
    width: 100px;
  }
  .nav .theme-toggle {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    margin-left: 0;
  }
  .nav .menu-wrap {
    top: 0;
    right: 0;
    position: relative;
  }
  .nav .menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 1rem;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  .nav .menu-wrap .hamburger {
    position: relative;
    top: 0rem;
    right: 1rem;
    width: 50px;
    height: 40px;
    z-index: 1;
    padding: 0.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 0;
    border-radius: 5px;
  }
  .nav .menu-wrap .hamburger > div {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%;
    height: 2.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--primary-color);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .nav .menu-wrap .hamburger > div::before,
  .nav .menu-wrap .hamburger > div::after {
    content: "";
    position: absolute;
    width: 100%;
    top: -10px;
    background: inherit;
    z-index: 1;
    height: 2.5px;
  }
  .nav .menu-wrap .hamburger > div::after {
    top: 10px;
  }
  .nav .toggler {
    display: block;
  }
  .nav .menu-wrap .toggler:checked + .hamburger > div {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  .nav .menu-wrap .toggler:checked + .hamburger > div::before,
  .nav .menu-wrap .toggler:checked + .hamburger > div::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .nav .menu-wrap .toggler:checked:hover + .hamburger > div {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
  .nav .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  .nav .menu-wrap .toggler:checked ~ .menu > div {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition-duration: var(--menu-speed);
            transition-duration: var(--menu-speed);
  }
  .nav .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    -webkit-transition: opacity 0.4s ease 0.4s;
    transition: opacity 0.4s ease 0.4s;
  }
  .nav .menu-wrap .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    visibility: hidden;
  }
  .nav .menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .nav .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
  }
  .nav .menu-wrap .menu > div > div > ul {
    list-style: none;
    color: var(--text-white);
    font-size: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .nav .menu-wrap .menu > div > div > ul > li {
    padding: 1rem;
  }
  .nav .menu-wrap .menu > div > div > ul > li a {
    font-size: 20px;
  }
  .nav-links ul {
    padding: 0;
    margin-right: 0;
  }
  .nav-links ul li {
    margin-right: 0;
  }
  .nav-links::before {
    display: none;
  }
  .header .hero {
    padding-top: 180px;
  }
  .header .hero-content {
    -ms-flex-item-align: center;
        align-self: center;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
  }
  .header .hero-content h1 {
    font-size: 24px;
    font-weight: 620;
    line-height: 30px;
  }
  .header .hero-content > p {
    font-size: 14px;
  }
  .header .hero__img, .header .hero__img::before {
    display: none;
  }
  .header .ball a .ball-text {
    color: #ffffff !important;
    padding-top: 170px;
    padding-left: 80px;
  }
  .header .ball::before {
    left: -70px;
    bottom: -150px;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 130vh;
  }
  .about-img {
    width: 300px;
  }
  .about-content {
    padding: 0 0;
    width: 300px;
  }
  .about-content p {
    font-size: 14px;
    padding: 30px 15px 40px;
  }
  .about-content::before {
    width: 300px;
    height: 430px;
    left: 0px;
  }
  .skills-grid {
    grid-template-columns: repeat(1, 250px);
  }
  .skills-fields .skills-field-1 .skills-field-title,
  .skills-fields .skills-field-2 .skills-field-title {
    font-size: 52px;
  }
  .timeline-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .timeline #timeline-2 {
    display: none;
  }
  .timeline-cards li .timeline-card h2 {
    font-size: 18px;
  }
  .timeline-cards li .timeline-card p {
    font-size: 14px;
  }
  .portfolio .portfolio-grid {
    grid-template-columns: repeat(1, 0.8fr);
  }
  .portfolio .portfolio-grid li .portfolio-item {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -webkit-box-shadow: 1px 1px 20px var(--box-shadow-2);
            box-shadow: 1px 1px 20px var(--box-shadow-2);
    background-color: var(--portfolio-item-bg);
  }
  .portfolio .portfolio-grid li .portfolio-item .portfolio-img img {
    height: 320px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    -o-object-fit: none;
       object-fit: none;
    border-bottom: 4px var(--secondary-color) solid;
  }
  .portfolio .portfolio-grid li .portfolio-item .portfolio-hover-item {
    position: static;
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    border-radius: 0;
    background: none;
    padding: 20px 0 50px;
    border-bottom: 4px var(--primary-color) solid;
  }
  .portfolio .portfolio-grid li .portfolio-item .portfolio-hover-item h2 {
    color: var(--portfolio-item-title);
  }
  .portfolio .portfolio-grid li .portfolio-item .portfolio-hover-item p {
    color: var(--portfolio-item-text);
    padding-left: 15px;
    padding-right: 15px;
  }
  .portfolio .portfolio-grid li .portfolio-item .portfolio-hover-item a {
    background-color: transparent;
    border: 1px var(--primary-color) solid;
  }
  .portfolio .portfolio-grid li .portfolio-item:hover .portfolio-hover-item {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
  .work-with-me .service {
    height: 100%;
  }
  .work-with-me .service-content {
    border-radius: 30px;
  }
  .work-with-me .service-content .service-header {
    font-size: 27px;
    line-height: 30px;
  }
  .work-with-me .service-content .service-text, .work-with-me .service-content ul li {
    font-size: 14px;
  }
  .work-with-me .service-content .service-lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .work-with-me .service-img {
    display: none;
  }
  .blogs-grid {
    grid-template-columns: repeat(1, 0.8fr);
    padding: 70px 10px 0;
  }
  .blogs .blog-text h4 {
    color: var(--primary-color);
  }
  .blogs .blog:focus::after {
    -webkit-box-shadow: 1px 1px 20px var(--box-shadow-2);
            box-shadow: 1px 1px 20px var(--box-shadow-2);
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .blogs .blog:focus::after img {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 0px 4px 15px var(--box-shadow-3);
            box-shadow: 0px 4px 15px var(--box-shadow-3);
  }
  .blogs .blog:focus::after .blog-text h4 {
    color: var(--primary-color);
  }
  .blogs .blog:focus::after .blog-text a {
    display: block;
    text-align: center;
    font-weight: 700;
    color: var(--primary-color);
    background-color: transparent;
    padding: 3px 6px;
    margin-top: 27px;
    border: 1px var(--primary-color) solid;
    border-radius: 15px;
  }
  .contact-me .contact-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 70px 15px 0;
  }
  .contact-me .contact-content .right-contact {
    margin-top: 40px;
    margin-left: 0;
  }
  .contact-me .contact-content .right-contact .i-c-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-me .contact-content .right-contact .i-c-2 :last-child {
    margin: 1.5rem 0 0;
  }
  .contact-me .contact-content .right-contact .btn-links {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  footer .footer-main .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-main .footer-content .footer-social {
    padding: 40px 0 0;
  }
  footer .footer-main .footer-content .footer-social .footer-social-links {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  footer .footer-main .footer-content .quick-nav {
    padding: 40px 0 0;
  }
}
@media screen and (min-width: 481px) {
  .toggler {
    display: none;
  }
}